* {
    font-family: roboto;
}
body {
    margin: 0;
}
.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 8px;
    padding-left: 80px;
    padding-right: 80px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.hero-section {
    display: flex;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb; 
}

.hero-section img {
    width: 400px;
    padding-bottom: 70px;
}

.hero-section p {
    margin: 0;
}

.signup {
    cursor: pointer;
    padding: 6px 30px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

.info-sect {
    text-align: center;
}

.info-sect p {
    size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;

}

.info-sect img {
    height: 100px;
    width: 100px;
}

.box-text {
    text-align: center;
}
